.grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.grid div{
    border-top: 1px solid;
    border-left: 1px solid;
}
.range-slider{
    display: flex;
    flex-direction: column;
    width: 128px;
    align-self: flex-end;
}
.maincontainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 12px;
}